POSTGRES_DB=demand_sense
POSTGRES_USER=demand_sense
POSTGRES_PASSWORD=demand_sense
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
DEBEZIUM_CONNECT_PORT=8083

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=demand-sense
