POSTGRES_DB=demand_sense
POSTGRES_USER=demand_sense
POSTGRES_PASSWORD=demand_sense
POSTGRES_HOST=localhost
POSTGRES_HOST_FOR_DEBEZIUM=postgres
POSTGRES_PORT=5432
POSTGRES_PORT_FOR_DEBEZIUM=5432

KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
DEBEZIUM_CONNECT_PORT=8083
DEBEZIUM_CONNECT_URL=http://localhost:8083
DEBEZIUM_CONNECTOR_NAME=demand-sense-postgres

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT_URL=http://localhost:9000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=demand-sense
AWS_REGION=us-east-1
BRONZE_TABLE_URI=s3://demand-sense/bronze/debezium_events
SILVER_TABLE_URI=s3://demand-sense/silver/retail_cdc_events
